@import './colors.scss';
@import './fonts.scss';


:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}

body {
  margin: 0;
  font-family: -apple-system, "Open Sans", BlinkMacSystemFont,  sans-serif;
  background-color: getColor(white);
  color: getColor(white);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.dark {
    @each $name, $color in $colors-dark {
      --color-#{$name}: #{$color};
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  color: getColor(base);
}
a {
  color: getColor(link);
  &:hover {
    color: getColor(link);
    text-decoration: underline;
  }
}

.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 320px;
  padding-top: 70px;
  overflow: hidden;
}

.header {
  position: absolute;
  background: getColor(primary);
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1;
  box-shadow: 0px 2px 10px getColor(primary);

  .logo {
    padding-right: 10px;
    > img {
      border-radius: 50%;
      width: 40px;
    }
  }

  &-info {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 14px 40px;
    
    &__name {
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.2px;
      
      > a {
        color: getColor(base);
        display: flex;
        align-items: center;
        &:hover {
          text-decoration: none;
        }
      }
      
    }
    &__account {
      display: flex;
    }
  }
}

.main {
  position: relative;
  min-height: calc(100vh - 70px);
  padding: 30px 0;
}

.ui {
  &.grid {
    margin: 0;
  }
  &.button:not(.icon) {
    height: 32px;
    background-color: getColor(primary);
    color: getColor(base);
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    border: 0;
    padding: 0 14px;
    min-width: 72px;
    transition: none;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 0px 2px 4px getColor(primary);
    &:hover {
      background-color: getColor(primary-hover);
      box-shadow: 0px 2px 4px getColor(primary-hover);
      color: getColor(base);
    }
  }
  .message {
    background-color: getColor(grey);
  }
}

.btn {
  &-container {
    display: flex;
    &__center {
      justify-content: center;
    }
  }
}
.container {
  padding: 0 20px;
}

.item {
  &-wrapper{
    align-items: center;
  }
}
