@import '../../styles/colors.scss';

.ui {
  &.table {
    .table {
      &-header{
        &__item{
          border-bottom: 3px solid getColor(primary);
          font-weight: 400;
          font-size: 12px;
          line-height: 17px;
          letter-spacing: 0.12px;
          color: getColor(base);
        }
      }
    }
  }
}
.ui.sortable.table thead th.sorted:after{
  color: getColor(primary)!important;
}