@import '../../styles/colors.scss';

.ui {
  &.table {
    .table {
      &-header{
        &__item{
          border-bottom: 3px solid $MAIN;
          font-weight: 400;
          font-size: 12px;
          line-height: 17px;
          letter-spacing: 0.12px;
          color: #263238;
        }
      }
    }
  }
}
.ui.sortable.table thead th.sorted:after{
  color: $MAIN!important;
}